// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



body {
    background-color: #f4f4f4; /* Cambia el color de fondo */
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Estilo de la tarjeta */
}

.card-header {
    background-color: #2da4f3;
    color: white;
    text-align: center;
    font-weight: bold;
}

.btn-primary {
    background-color: #28a745; /* Color del botón de inicio de sesión */
    border-color: #28a745;
}

.btn-dark {
    background-color: #333; /* Color del botón de GitHub */
    border-color: #333;
}

.navbar {
    background-color: #ffffff; /* Color de fondo de la barra de navegación */
}
